<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice Test</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <img src="./images/logo-blue.png" alt="PrepWise Logo">
            </div>
        </header>

        <main class="content">
            <div class="heading">
                <h1 class="title">Practice makes us perfect</h1>
                <img src="./images/bulb.png" alt="">
            </div>

            <p class="description">
                You have to answer 15 questions to end the session<br>
                Don’t sweat it’s just a practice session
            </p>

            <div class="guidelines">
                <h2>Practice test guidelines</h2>
                <ul>
                    <li>The quiz will have 15 questions, you need to answer them all</li>
                    <li>Time limit 30 min</li>
                    <li>Select an option after that click submit to reveal the answer</li>
                    <li>Once you are done your final score will be displayed</li>
                </ul>
            </div>

            <h2 class="all-the-best">ALL THE BEST!!</h2>
            <button class="start-test" onclick="window.location.href='/test'"">Start Test</button>
        </main>
    </div>
</body>
</html>